[package]
name = "jarvis-lib"
version = "0.1.0"
authors = ["Jorrit Salverda <jorrit.salverda@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = { version = "0", features = ["serde"] }
chrono-tz = "0"
ctor = "0.1.22"
env_logger = "0.9.0"
gcp-bigquery-client = "0.9"
kube = { version = "0.70.0", features = ["runtime", "derive"] }
k8s-openapi = { version = "0.14.0", features = ["v1_22"] }
log = "0"
nats = "0"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_yaml = "0"
tokio = { version = "1.17.0", features = ["macros"] }
uuid = { version = "0.8", features = ["v4"] }

[target.x86_64-unknown-linux-musl.dependencies]
openssl = { version = "0.10", features = ["vendored"] }
