name: Build

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  gitversion:
    runs-on: ubuntu-latest
    outputs:
      semVer: ${{ steps.gitversion.outputs.semVer }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: gittools/actions/gitversion/setup@v0.9.7
        with:
          versionSpec: '5.x'
      - id: gitversion
        uses: gittools/actions/gitversion/execute@v0.9.7

  build:
    runs-on: ubuntu-latest
    needs: gitversion
    env:
      GITVERSION_SEMVER: ${{ needs.gitversion.outputs.semVer }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
            toolchain: 1.57
            default: true
            components: rustfmt, clippy
        - uses: actions/cache@v2
        with:
          path: |
            ./target
            /usr/local/cargo
          key: ${{ hashFiles('Cargo.lock') }}
      - run: |
        cargo build --verbose
        cargo clippy --no-deps -- --deny "warnings"
        cargo test --verbose
        ls -latr ./target
        ls -latr /usr/local/cargo

  tag:
    runs-on: ubuntu-latest
    needs: [gitversion, build]
    env:
      GITVERSION_SEMVER: ${{ needs.gitversion.outputs.semVer }}
    steps:
      - uses: actions/checkout@v2
      - run: |
          git tag -f $GITVERSION_SEMVER
          git push origin $GITVERSION_SEMVER
