name: Build

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: cargo test
      - run: cargo clippy --no-deps -- --deny "warnings"

  tag:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: mathieudutour/github-tag-action@v6.1
        with:
          github_token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}