name: Build

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  gitversion:
    runs-on: ubuntu-latest
    outputs:
      semVer: ${{ steps.gitversion.outputs.semVer }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: gittools/actions/gitversion/setup@v0.9.7
        with:
          versionSpec: '5.x'
      - id: gitversion
        uses: gittools/actions/gitversion/execute@v0.9.7

  # proto:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #       with:
  #         fetch-depth: 0
  #     - uses: actions-rs/toolchain@v1
  #       with:
  #           toolchain: 1.60
  #           default: true
  #     - run: |
  #         sudo apt-get install -y protobuf-compiler
  #     - run: |
  #         curl -sSL \
  #           https://github.com/uber/prototool/releases/download/v1.10.0/prototool-$(uname -s)-$(uname -m) \
  #           -o /usr/local/bin/prototool && \
  #           chmod +x /usr/local/bin/prototool
  #     - run: |
  #         cargo install protobuf-codegen
  #     - run: prototool lint proto
  #     - run: prototool break check proto
  #     - run: prototool generate proto

  build:
    runs-on: ubuntu-latest
    needs: gitversion
    env:
      GITVERSION_SEMVER: ${{ needs.gitversion.outputs.semVer }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            components: rustfmt, clippy
      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - run: |
          cargo version
          cargo build
          cargo clippy --no-deps -- --deny "warnings"
          cargo test

  tag:
    runs-on: ubuntu-latest
    needs: [gitversion, build]
    env:
      GITVERSION_SEMVER: ${{ needs.gitversion.outputs.semVer }}
    steps:
      - uses: actions/checkout@v2
      - run: |
          git tag -f $GITVERSION_SEMVER
          git push origin $GITVERSION_SEMVER
